{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Motiongorilla</title>
        <link rel="stylesheet" href="{% static 'output.css' %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css">
        <script src="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js"></script>
    </head>

    <body class="bg-background text-textcolor">
        {% url 'create_article' as create_new_url %}
        {% url 'home' as articles_page %}
        <nav class="flex justify-between items-center px-10 py-4 border-b border-gray-300 shadow-md bg-lightbg">
            <div class="flex">
                <a href="{% url 'index' %}" class="text-xl text-textcolor font-bold">Motiongorilla</a>
            </div>
            <div class="flex justify-end items-center gap-6">
                {% if user.is_authenticated %}
                    <a href="{% if request.path != create_new_url %}{{create_new_url}}{% else %}#{% endif %}" class="button primary">Create new article</a>
                    <form method="POST" action="{% url 'account_logout' %}">
                        {% csrf_token %}
                        <a href="{{articles_page}}" class="hover:underline text-textcolor {% if request.path == articles_page %} font-semibold {% endif %}">My Articles</a>
                        <button class="hover:underline text-textcolor ml-2" type="submit">Log out</button>
                    </form>
                    {% else %}
                        <a href="{% url 'account_login' %}" class="button primary text-sm">Log in</a>
                        <a href="{% url 'account_signup' %}" class="button secondary text-sm">Create new account</a>
                    {% endif %}
            </div>
        </nav>
            {% block content %}
            {% endblock content %}
            {% block page_js %}
            {% endblock page_js %}
    </body>

</html>
