{% extends "app/base.html" %}

    {% block content %}
<main class="flex flex-col items-center max-w-screen-xl h-full mx-auto p-2 md:p-4 lg:p-10">
    {% if articles %}
    {% for article in articles %}
        <div class="transition ease-in-out delay-50 group flex flex-col items-left bg-lightbg mb-8 p-4 shadow-lg shadow-blacky border border-subinfo w-[764px] hover:border-important hover:scale-105">
        <a href="{% url 'read_article' article.id %}">
            <div class="flex items-center text-3xl font-bold tracking-tight mb-4 text-textcolor">
                <span class="group-hover:text-highlight">{{article.title}}</span>
            </div>

            <div>
                <span id="article_summary" class="text-textcolor">
                    <!--{{ article.get_content_as_html|truncatechars:200|safe }}-->
                    {{ article.post_summary }}
                </span>
            </div>

        </a>
        </div>
    {% endfor %}
    {% else %}
    <p>There're no articles to look at. Create a new one!</p>
    {% endif %}
</main>
{% endblock %}
{% block page_js %}
{% endblock %}
