{% extends "app/base.html" %}
{% load humanize %}

    {% block content %}
    <main class="max-w-screen-xl mx-auto mt-10 p-2 md:p-4 lg:p-10">
        <h1 class="title mb-4">Welcome</h1>
        <p class="text-xl mb-4">
            You have created {{ user.article_count | intcomma }}
            article{{ user.article_count | pluralize }}
        </p>
        <a href="{% url 'create_article' %}" class="button inline-block primary mb-6 w-full sm:w-auto text-center">Create new article</a>
        <h2 class="subtitle mb-6">Your latest articles</h2>
        {% if articles %}
        <ul>
            {% for article in articles %}
            <li>
                <a href="{% url 'update_article' article.id %}" class="text-2xl flex items-center">{{article.title}}<span class="ml-2 px-2 py-0.5 text-xs rounded-sm uppercase article-status-{{article.status}}">{{article.status}}</span></a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>There're no articles to look at. Create a new one!</p>
        {% endif %}
    </main>
    {% endblock content %}
