{% extends "app/base.html" %}
{% load humanize %}

    {% block content %}
        <h1>Articles</h1>
        <p>
            You have created {{ user.article_count | intcomma }}
            article{{ user.article_count | pluralize }}
            and you have written {{ user.written_words | intcomma }}
            word{{ user.written_words | pluralize }}.
        </p>
        <a href="{% url 'create_article' %}">Create new article</a>
        {% if articles %}
            <ul>
                {% for article in articles %}
                <li>
                <a href="{% url 'update_article' article.id %}">
                    {{article.title}}</a> with
                {{article.word_count}} word{{ article.word_count | pluralize }}.
            </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>There're no articles to look at. Create a new one!</p>
        {% endif %}
    {% endblock content %}
