{% extends "app/base.html" %}

    {% block content %}
    <div class="relative h-full w-full">

        <div class="absolute inset-0 bg-transparent h-full w-full bg-[linear-gradient(to_right,#80808012_1px,transparent_1px),linear-gradient(to_bottom,#80808012_1px,transparent_1px)] bg-[size:32px_32px] -z-100"></div>

        <!-- Content part -->
        <main class="flex flex-col mx-auto relative z-10">
            <div class="flex px-10 mt-20 columns-2 gap-10 h-1/2 w-full">
                <div class="mt-20 bg-background px-4 py-10 border border-success m-auto max-w-screen-sm shadow-lg shadow-blacky rounded-sm -top-16">
                    <span class="title mb-4">>Hello, Yegor here! </span>
                        <p class="font-semibold text-xl mb-4">You've come to my small tech playground.</p>
                    <p class="text-lg font-sans leading-tight">
                        This is a space where I share some of my experience, try out ideas, deploy my web-apps and other stuff interesting to me.
                        And it so happens that this is also my portofolio.
                    </p>
                    <p class="leading-tight">
                        You can contact me at:<br>
                        <a class="hover:underline font-semibold" href="#">yegor.omelchenko@gmail</a>
                    </p>
                </div>
                <div>
<img src="https://e7.pngegg.com/pngimages/88/722/png-clipart-user-interface-system-console-computer-terminal-go-javascript-shell-command-linux-text-computer-program.png">
                </div>
            </div>

            {% if articles %}
            {% with total_articles=articles|length %}
            {% with display_count=total_articles|divisibleby:4|add:total_articles %}
            <div class="max-w-screen-2xl mx-auto p-4">
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-4 p-4 auto-rows-fr auto-cols-fr">
                    {% for article in articles %}
                    {% if forloop.counter <= 6 %}
                    <div class="bg-background p-4 border border-danger rounded-sm shadow-md shadow-blacky text-textcolor flex flex-col justify-between h-full">
                        <div>
                            <a class="text-2xl block font-semibold mb-4 h-16 overflow-hidden">{{article.title}}</a>
                            <p class="text-sm leading-tight">{{ article.content | truncatechars:150 }}</p>
                        </div>
                        <a class="font-semibold text-warning hover:underline text-right" href="{% url 'read_article' article.id %}">Read more...</a>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endwith %}
            {% endwith %}
            {% else %}
            <p>There're no articles to look at. Create a new one!</p>
            {% endif %}
        </main>
    </div>
    {% endblock content %}
    {% block page_js %}
    {% endblock page_js %}
