{% extends "base.html" %}

{% load widget_tweaks %}

    {% block content %}
    <main class="max-w-screen-xl mx-auto mt-10">
        <div class="flex items-start">
            <div class="flex flex-col items-center max-w-screel-lg mx-auto" x-data>
                <ul id="mediaelements" x-sort></ul>
            </div>
            <div class="flex flex-col items-start max-w-screen-sm gap-6">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <button type="submit" class="button primary">Create protfolio piece</button>
                    {% render_field portfolio_form.title class="text-3xl py-2 bg-lightbg w-full rounded-md focus:ring-1 focus:border-secondary focus:border-1 focus:ring-accent" placeholder="Project title" %}
                    <article class="prose max-w-none bg-lightbg">
                        {% render_field portfolio_form.description rows=10 %}
                    </article>
                    {% render_field portfolio_form.tags %}
                    {% render_field portfolio_form.status class="text-xs border-none rounded-md uppercase" %}

                    <h3 class="title mb-8">Thumbnail</h3>
                    <div class="rounded-md border border-important bg-infobg p-4 shadow-md w-36">
                        <label for="id_imgs" class="flex flex-col items-center gap-2 cursor-pointer">
                            <span class="text-textcolor font-medium">Upload file</span>
                            {% include 'svgs/file_upload.svg' with class="w-10 h-10" %}
                        </label>
                        {% render_field portfolio_form.thumbnail %}
                    </div>
                </form>
                <div x-data="{counter: -1}">
                    <button type="button" hx-get="{%url 'add_image_element'%}"
                        hx-target="#mediaelements" hx-swap="beforeend" x-bind:hx-vals='`{"element_order": ${counter}}`'
                        class="button secondary" x-on:click="counter++">Add image</button>
                </div>
            </div>
        </div>
    </main>
    {% endblock %}

    {% block page_js %}
    <script>
    const contentMarkdown = new EasyMDE({
        element: document.getElementById("id_description"),
        spellChecker: false,
        status: false,
        forceSync: true,
        indentWithTabs: true,
        placeholder: "Describe the work.",
        toolbar: true,
        toolbar: ["bold", "italic", "heading", "|", "quote", "code", "preview"],
    });
    </script>
    {% endblock %}
