@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-4xl font-black text-textcolor font-sans;
    }
    h2 {
        @apply text-3xl font-extrabold text-textcolor font-sans;
    }
    h3 {
        @apply text-2xl font-bold text-textcolor font-sans;
    }
    h4 {
        @apply text-xl font-semibold text-textcolor font-sans;
    }
    h5 {
        @apply text-lg font-medium text-textcolor font-sans;
    }
    h6 {
        @apply text-base font-medium text-textcolor font-sans;
    }
    pre {
        @apply bg-infobg px-4 py-2 rounded mt-4 tracking-tighter font-sans;
    }
    p {
        @apply text-textcolor my-2 leading-7 tracking-normal;
    }
    img {
        @apply my-4;
    }
}

#article_summary p {
    @apply text-subinfo leading-5 tracking-normal text-base font-mono tracking-tighter;
}

.title {
    @apply text-5xl font-bold font-sans tracking-tight;
}

.subtitle{
    @apply text-3xl font-medium tracking-tight;
}

.button {
    @apply py-2 px-4 rounded font-medium text-textcolor;
}

.primary {
    @apply bg-primary focus:outline-none focus:bg-secondary shadow-md text-background glow;
}

.primarydk {
    @apply bg-primarydark hover:bg-secondarydark focus:outline-none focus:bg-secondary shadow-md text-textcolor;
}

.secondary {
    @apply bg-secondary text-background hover:bg-accent focus:outline-none focus:bg-accent shadow-md;
}

.danger {
    @apply bg-dangermain hover:bg-orange-700 focus:outline-none focus:bg-important shadow-md;
}

.warning {
    @apply bg-warning hover:bg-dangermain focus:outline-none focus:opacity-60 shadow-md;
}

.info {
    @apply bg-infobg hover:bg-lightbg focus:outline-none focus:bg-gray-900 shadow-md;
}

.success {
    @apply bg-success hover:bg-infobg focus:outline-none focus:bg-red-700 shadow-md;
}

.default {
    @apply bg-lightbg hover:bg-infobg focus:outline-none focus:bg-background shadow-md;
}

.CodeMirror-lines {
    @apply text-textcolor;
}

.CodeMirror-selectedtext {
    @apply text-background;
}

.EasyMDEContainer, .CodeMirror {
    @apply !bg-inherit text-textcolor;
}

.EasyMDEContainer, textarea {
    @apply leading-6 mb-4 ;
}

.EasyMDEContainer:has(textarea:focus), textarea:focus {
    @apply shadow-md bg-lightbg;
}

.form-field input {
    @apply block bg-textcolor text-background shadow-sm focus:ring-accent focus:bg-textcolor focus:border-accent sm:text-sm border-secondary rounded-md text-sm p-2 w-full;
}

.glow:hover {
    box-shadow: inset 0 0 15px 1px #43e5b799, 0 0 10px 1px #43e5b799;
}

.error {
    @apply p-2 my-2 text-sm text-warning bg-dangermain bg-opacity-10 rounded-md border-2 border-dangermain text-left;
}

.article-status-draft {
    @apply bg-subinfo;
}

.article-status-inprogress {
    @apply bg-warning text-background;
}

.article-status-published {
    @apply bg-highlight text-background;
}

.animate-gradient {
	animation: gradient-shift 15s ease infinite;
}

.dot {
    position: absolute;
    inset: 0;
    height: 200%;
    width: 100%;
    background-position: center;
    background-image: radial-gradient(#e5e7eb10 1px, transparent 1px);
    background-size: 64px 64px;
    z-index: -5;
    transition: transform 1s ease-out;
}

.grid-cell-bg {
    position:absolute;
    inset: 0;
    height: 200%;
    width: 100%;
    background-color: transparent;
    background-image: linear-gradient(to right,#80808008 1px,transparent 1px),
                    linear-gradient(to bottom,#80808008 1px,transparent 1px);
    background-position: center;
    background-size:32px 32px;
    background-attachment: fixed;
    z-index: -10;
    transition: transform 1s ease-out;
}

.feathered-fade {
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.lines-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Ensure lines don't interfere with other elements */
}

.st0{
    @apply fill-important;
}

.st1{
    @apply fill-textcolor;
}
.svgicon {
    background-size: 20px 30px;
}
