{% load widget_tweaks %}

<div class="relative w-full removable sortable-item mb-2" x-data="{src:'', image_preview: false}" id="image_element_{{counter}}">
    <img x-bind:src="src" alt="preview" x-show="image_preview" class="relative m-0 object-top">
    {% render_field image_form.caption class="w-full text-base bg-blacky rounded-sm mt-1" x-show="image_preview" style="display: none;" %}
    <button type="button" class="absolute top-0.5 left-1 bg-background rounded-sm w-10 h-10 shadow-sm opacity-0 hover:opacity-75 font-sans font-extrabold" onclick="removeElement(this)">X</button>
    <div class="rounded-sm border border-infobg bg-background p-4 shadow-md" x-show="!image_preview">
        <label for="id_img_{{counter}}" class="flex flex-col items-center gap-2 cursor-pointer w-full h-20">
            <span class="text-textcolor font-medium">Upload file</span>
            {% include 'svgs/file_upload.svg' with class="w-10 h-10 stroke-important fill-textcolor" %}
        </label>
        <div>
            {% render_field image_form.img @change="src=URL.createObjectURL($event.target.files[0]); image_preview=true" class="hidden" %}
            {% render_field image_form.order class="text-base py-2 bg-lightbg rounded-md focus:ring-1 focus:border-secondary focus:border-1 focus:ring-accent" type="hidden" %}
        </div>
    </div>
</div>
