{% extends "base.html" %}

    {% block content %}
    <!-- Content part -->
    <main class="flex flex-col mx-auto relative z-10 items-center">
        <div class="flex px-10 mt-8 h-[70vh] max-w-screen-lg gap-10 mx-auto">
            <div class="bg-background p-4 border border-success m-auto shadow-lg shadow-blacky rounded-sm">
                <div class="text-lg font-mono">
                    <p class="-mb-3">
                        <span class="font-black text-primary">~</span><span class="ml-2 font-light"><span class="text-warning">request</span> <span class="text-subinfo">introduction</span></span>
                    </p>
                    <p class="ml-4">
                        <span>Hello, <span class="font-semibold text-success">Yegor here!</span> You've come to my small tech playground.</span>
                    </p>

                    <p class="-mb-3">
                        <span class="font-black text-primary">~</span><span class="ml-2 font-light"><span class="text-warning">uname</span> <span class="text-subinfo">-a</span></span>
                    </p>
                    <p class="ml-4">
                        This is a space where I share some of my experience, try out ideas, deploy my web-apps and other stuff interesting to me.
                        And it so happens that this is also my portofolio.
                    </p>

                    <p class="-mb-3">
                        <span class="font-black text-primary">~</span><span class="ml-2 font-light">
                    </p>
                    <p class="-mb-3">
                        <span class="font-black text-primary">~</span><span class="ml-2 font-light"><span class="text-warning">ifconfig</span></span>
                    </p>
                    <p class="ml-4">
                        You can contact me at:
                        <a class="hover:underline font-semibold text-highlight
                            relative w-[max-content] before:absolute before:inset-0 before:bg-background
                            before:animate-[typewriter_4s_steps(26)_forwards]" href="#">yegor.omelchenko@gmail.com</a>
                    </p>
                    <p class="-mb-3">
                        <span class="font-black text-primary">~</span><span class="ml-2 fill-textcolor animate-blink">
                            <svg width="12" height="24" xmlns="http://www.w3.org/2000/svg" class="inline ">
                                <rect width="12" height="24" x="0" y="0" rx="1" ry="1" />
                            </svg>
                        </span>
                    </p>
                </div>
            </div>
            <div class="flex flex-col items-left gap-4 m-auto">
                <div class="flex justify-center items-center transition ease-in-out delay-50 bg-background border rounded-sm border-subinfo w-16 h-16 hover:bg-lightbg hover:cursor-pointer">
                    <a href="https://www.artstation.com/gorillastyle">
                        {%include 'svgs/artstation_logo.svg' with class="w-16 h-16"%}
                    </a>
                </div>
                <div class="flex justify-center items-center transition ease-in-out delay-50 bg-background border rounded-sm border-subinfo w-16 h-16 hover:bg-lightbg hover:cursor-pointer">
                    <a href="https://www.behance.net/gorillastyle">
                        {%include 'svgs/behance_logo.svg' with class="w-12 h-12"%}
                    </a>
                </div>
                <div class="flex justify-center items-center transition ease-in-out delay-50 bg-background border rounded-sm border-subinfo w-16 h-16 hover:bg-lightbg hover:cursor-pointer">
                    <a href="https://github.com/motiongorilla">
                        {%include 'svgs/github_logo.svg' with class="w-12 h-12 fill-important" %}
                    </a>
                </div>
                <div class="flex justify-center items-center transition ease-in-out delay-50 bg-background border rounded-sm border-subinfo w-16 h-16 hover:bg-lightbg hover:cursor-pointer">
                    <a href="https://www.youtube.com/@motiongorilla">
                        {%include 'svgs/youtube_logo.svg' with class="w-12 h-12 fill-important" %}
                    </a>
                </div>
            </div>
        </div>

        <div class="max-w-screen-2xl mx-auto p-4">
            <p class="group font-mono text-2xl font-bold mt-2 relative">
                <a href="{% url 'posts' %}">
                    <span class="transition delay-50 ease-in text-warning inline-block group-hover:translate-x-1">></span> <span class="group-hover:text-highlight">Articles</span>
                </a>
            </p>
        {% if articles %}
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-4 p-4 auto-cols-fr">
                <div class="flex flex-col bg-background p-4 border border-dangermain rounded-sm shadow-md shadow-blacky text-textcolor justify-between h-full row-span-2">
                    <div>
                        <a class="flex items-center text-2xl block text-left font-bold font-mono tracking-tight h-16 overflow-hidden hover:text-highlight my-auto"
                            href="{% url 'read_article' articles.0.id %}">{{articles.0.title}}</a>
                        <span id="article_summary"><p>{{ articles.0.post_summary|truncatechars:600|striptags }}</p></span>
                    </div>
                    <a class="font-semibold text-warning hover:underline text-right" href="{% url 'read_article' articles.0.id %}">Read more...</a>
                </div>
                <div class="flex flex-col bg-background p-4 border border-dangermain rounded-sm shadow-md shadow-blacky text-textcolor justify-between h-full">
                    <div>
                        <a class="flex items-center text-2xl block text-left font-bold font-mono tracking-tight h-16 overflow-hidden hover:text-highlight my-auto"
                            href="{% url 'read_article' articles.1.id %}">{{articles.1.title}}</a>
                        <span id="article_summary">{{ articles.1.post_summary|truncatechars:200|safe }}</span>
                    </div>
                    <a class="font-semibold text-warning hover:underline text-right" href="{% url 'read_article' articles.1.id %}">Read more...</a>
                </div>
                <div class="flex flex-col bg-background p-4 border border-dangermain rounded-sm shadow-md shadow-blacky text-textcolor justify-between h-full">
                    <div>
                        <a class="flex items-center text-2xl block text-left font-bold font-mono tracking-tight h-16 overflow-hidden hover:text-highlight my-auto"
                            href="{% url 'read_article' articles.2.id %}">{{articles.2.title}}</a>
                        <span id="article_summary">{{ articles.2.post_summary|truncatechars:200|safe }}</span>
                    </div>
                    <a class="font-semibold text-warning hover:underline text-right" href="{% url 'read_article' articles.2.id %}">Read more...</a>
                </div>
                <div class="flex flex-col bg-background p-4 border border-dangermain rounded-sm shadow-md shadow-blacky text-textcolor justify-between h-full col-span-2">
                    <div>
                        <a class="flex items-center text-2xl block text-left font-bold font-mono tracking-tight h-16 overflow-hidden hover:text-highlight my-auto"
                            href="{% url 'read_article' articles.3.id %}">{{articles.3.title}}</a>
                        <span id="article_summary">{{ articles.3.post_summary|truncatechars:450|safe }}</span>
                    </div>
                    <a class="font-semibold text-warning hover:underline text-right" href="{% url 'read_article' articles.3.id %}">Read more...</a>
                </div>
            </div>
        </div>
        {% else %}
        <p>There're no articles to look at.</p>
        {% endif %}
    </main>
    {% endblock content %}
    {% block page_js %}
    {% endblock page_js %}
